@media (max-width:768px) {
    /* Displays + Float */
    .mob_ds-block{display:block}.mob_ds-inblock{display:inline-block}.mob_ds-inline{display:inline}.mob_ds-grid{display:grid} .mob_ds-ingrid { display:inline-grid} .mob_ds-non{display:none}
    .mob_al-item-cntr{align-items:center} .mob_no-list-style{list-style-type:none} .mob_no-txt-dicr{text-decoration:none}
    .mob_l-float{float:left}.mob_r-float{float:right}.mob_c-float{float:center}
    .mob_flow-hd{overflow:hidden}.mob_flow-sc{overflow:scroll} .mob_flow-auto{overflow: auto;}
    .mob_zindx-10{z-index:10} .mob_zindx-100{z-index:100} .mob_zindx-1000{z-index:1000}
    /* Fonts */
    .mob_fs-10{font-size:10px}  .mob_fs-20{font-size:20px}  .mob_fs-30{font-size:30px}  .mob_fs-40{font-size:40px}
    .mob_fs-12{font-size:12px}  .mob_fs-22{font-size:22px}  .mob_fs-32{font-size:32px}  .mob_fs-42{font-size:42px}
    .mob_fs-14{font-size:14px}  .mob_fs-24{font-size:24px}  .mob_fs-34{font-size:34px}  .mob_fs-44{font-size:44px}
    .mob_fs-16{font-size:16px}  .mob_fs-26{font-size:26px}  .mob_fs-36{font-size:36px}  .mob_fs-46{font-size:46px}
    .mob_fs-18{font-size:18px}  .mob_fs-28{font-size:28px}  .mob_fs-38{font-size:38px}  .mob_fs-48{font-size:48px}
    .mob_fs-smll    {font-size:small}           .mob_fs-smller  {font-size:smaller}
    .mob_fs-larg    {font-size:large}           .mob_fs-larger  {font-size:larger}
    .mob_fw-light   {font-weight:light}         .mob_fw-lighter {font-weight:lighter}
    .mob_fw-bold    {font-weight:bold}          .mob_fw-bloder  {font-weight:bolder}
    .mob_fw-nrml    {font-weight:normal}
    /* Widths and Heights */
    .mob_w-auto {width:auto}        .mob_h-auto {height:auto}
    .mob_w-mxfull {max-width:100%}  .mob_h-mxfull {max-height:100%}
    .mob_w-mx600 {max-width:600px}  .mob_h-mx600 {max-height:600px}
    .mob_w-mnfull {min-width:100%}  .mob_h-mnfull {min-height:100%}
    .mob_w-fullvh {width:100vh}     .mob_h-fullvh {height:100vh}
    .mob_w-full  {width:100%}       .mob_h-full  {height:100%}
    .mob_w-ninty {width:90%}        .mob_h-ninty {height:90%}
    .mob_w-egthy {width:80%}        .mob_h-egthy {height:80%}
    .mob_w-sveny {width:70%}        .mob_h-sveny {height:70%}
    .mob_w-sixty  {width:60%}       .mob_h-sixty  {height:60%}
    .mob_w-half {width:50%}         .mob_h-half {height:50%}
    .mob_w-four5{width:45%}         .mob_h-four5 {height:45%}
    .mob_w-four {width:40%}         .mob_h-four {height:40%}
    .mob_w-thrd {width:30%}         .mob_h-thrd {height:30%}
    .mob_w-qrtr {width:25%}         .mob_h-qrtr {height:25%}
    .mob_w-twnt {width:20%}         .mob_h-twnt {height:20%}
    .mob_w-ten  {width:10%}         .mob_h-ten  {height:10%}
    .mob_w-five {width:5%}          .mob_h-five {height:5%}
    .mob_w-600  {width:600px}       .mob_h-600  {height:600px}
    .mob_w-400  {width:400px}       .mob_h-400  {height:400px}
    .mob_w-450  {width:450px}       .mob_h-450  {height:450px}
    .mob_w-300  {width:300px}       .mob_h-300  {height:300px}
    .mob_w-250  {width:250px}       .mob_h-250  {height:250px}
    .mob_w-200  {width:200px}       .mob_h-200  {height:200px}
    .mob_w-150  {width:150px}       .mob_h-150  {height:150px}
    .mob_w-125  {width:125px}       .mob_h-125  {height:125px}
    .mob_w-100  {width:100px}       .mob_h-100  {height:100px}
    .mob_w-90   {width:90px}        .mob_h-90   {height:90px}
    .mob_w-75   {width:75px}        .mob_h-75   {height:75px}
    .mob_w-64   {width:64px}        .mob_h-64   {height:64px}
    .mob_w-55   {width:55px}        .mob_h-55   {height:55px}
    .mob_w-48   {width:48px}        .mob_h-48   {height:48px}
    .mob_w-40   {width:40px}        .mob_h-40   {height:40px}
    .mob_w-32   {width:32px}        .mob_h-32   {height:32px}
    .mob_w-20   {width:20px}        .mob_h-20   {height:20px}
    .mob_w-10   {width:10px}        .mob_h-10   {height:10px}
    .mob_w-5    {width:5px}         .mob_h-5    {height:5px}
    .mob_w-2    {width:2px}         .mob_h-2    {height:2px}
    /* Positions */
    .mob_pos-abs{position:absolute}     .mob_pos-rel{position:relative}     .mob_pos-fix{position:fixed} .mob_pos-stic {position: static}
    /* Colors + Backgrounds */
    .mob_c-trans    {color:transparent}            .mob_bg-trans  {background-color:transparent}
    .mob_c-bloghome {color:#dddddd}             .mob_bg-bloghome{background-color:#dddddd}
    .mob_c-333      {color:#333}                .mob_bg-333     {background-color:#333}
    .mob_c-layer    {color:rgba(0,0,0,0.mob_5)}     .mob_bg-layer  {background-color:rgba(0,0,0,0.mob_5)}
    .mob_c-blue-sky {color:#08f}                .mob_bg-blue-sky   {background-color:#08f}
    .mob_c-sub      {color:#333333}             .mob_bg-sub   {background-color:#333333}
    .mob_c-ligh     {color:#f9f9f9}             .mob_bg-ligh   {background-color:#f9f9f9}
    .mob_c-white    {color:white}               .mob_bg-white  {background-color:white}
    .mob_c-black    {color:black}               .mob_bg-black  {background-color:black}
    .mob_c-eee      {color:#eee}                .mob_bg-eee    {background-color:#eee}
    .mob_c-e-8      {color:#e8e8e8}             .mob_bg-e-8    {background-color:#e8e8e8}
    .mob_c-purple   {color:purple}             .mob_bg-purple {background-color:purple}
    .mob_c-gray     {color:gray}                .mob_bg-gray   {background-color:gray}
    .mob_c-blue     {color:blue}                .mob_bg-blue   {background-color:blue}
    .mob_c-green    {color:green}               .mob_bg-green  {background-color:green}
    .mob_c-orange   {color:orange}              .mob_bg-orange {background-color:orange}
    .mob_c-red      {color:red}                 .mob_bg-red    {background-color:red}
    .mob_c-gold     {color:goldenrod}           .mob_bg-gold   {background-color:goldenrod}
    /* Margins */
    .mob_mrg-zfive{margin:0 5%}       .mob_m-20z{margin:20px 0}         .mob_m-20auto {margin:20px auto}     .mob_m-2010  {margin:20px 10px}  .mob_m-btn {margin:15px auto 0 auto}
    .mob_mrg-zone{margin:0 1%}      .mob_mrg-ztwo{margin:0 2%}        .mob_mrg-zthre{margin:0 3%}            .mob_mrg-zfour{margin:0 4%}  
    .mob_mt-auto{margin-top:auto}   .mob_mr-auto{margin-right:auto}   .mob_mb-auto  {margin-bottom:auto}   .mob_ml-auto {margin-left:auto}  .mob_m-auto {margin:auto} 
    .mob_mt-zauto{margin-top:0 auto}   .mob_mr-zauto{margin-right:0 auto}   .mob_mb-zauto  {margin-bottom:0 auto}   .mob_ml-zauto {margin-left:0 auto}  .mob_m-zauto {margin:0 auto} 
    .mob_mt-five{margin-top:5%}     .mob_mr-five{margin-right:5%}     .mob_mb-five  {margin-bottom:5%}     .mob_ml-five {margin-left:5%}    .mob_m-five {margin:5%} 
    .mob_mt-ten{margin-top:10%}     .mob_mr-ten{margin-right:10%}     .mob_mb-ten  {margin-bottom:10%}     .mob_ml-ten {margin-left:10%}    .mob_m-ten {margin:10%} 
    .mob_mt-ffty{margin-top:50%}     .mob_mr-ffty{margin-right:50%}   .mob_mb-ffty  {margin-bottom:50%}     .mob_ml-ffty {margin-left:50%}    .mob_m-ffty {margin:50%} 
    .mob_mt-0   {margin-top:0}      .mob_mr-0   {margin-right:0}      .mob_mb-0     {margin-bottom:0}      .mob_ml-0    {margin-left:0}     .mob_m-0    {margin:0} 
    .mob_mt-5   {margin-top:5px}    .mob_mr-5   {margin-right:5px}    .mob_mb-5     {margin-bottom:5px}    .mob_ml-5    {margin-left:5px}   .mob_m-5    {margin:5px} 
    .mob_mt-10  {margin-top:10px}   .mob_mr-10  {margin-right:10px}   .mob_mb-10    {margin-bottom:10px}   .mob_ml-10   {margin-left:10px}  .mob_m-10   {margin:10px} 
    .mob_mt-15  {margin-top:15px}   .mob_mr-15  {margin-right:15px}   .mob_mb-15    {margin-bottom:15px}   .mob_ml-15   {margin-left:15px}  .mob_m-15   {margin:15px} 
    .mob_mt-20  {margin-top:20px}   .mob_mr-20  {margin-right:20px}   .mob_mb-20    {margin-bottom:20px}   .mob_ml-20   {margin-left:20px}  .mob_m-20   {margin:20px} 
    .mob_mt-25  {margin-top:25px}   .mob_mr-25  {margin-right:25px}   .mob_mb-25    {margin-bottom:25px}   .mob_ml-25   {margin-left:25px}  .mob_m-25   {margin:25px} 
    .mob_mt-30  {margin-top:30px}   .mob_mr-30  {margin-right:30px}   .mob_mb-30    {margin-bottom:30px}   .mob_ml-30   {margin-left:30px}  .mob_m-30   {margin:30px} 
    .mob_mt-40  {margin-top:40px}   .mob_mr-40  {margin-right:40px}   .mob_mb-40    {margin-bottom:40px}   .mob_ml-40   {margin-left:40px}  .mob_m-40   {margin:40px} 
    .mob_mt-50  {margin-top:50px}   .mob_mr-50  {margin-right:50px}   .mob_mb-50    {margin-bottom:50px}   .mob_ml-50   {margin-left:50px}  .mob_m-50   {margin:50px} 
    .mob_mt-60  {margin-top:60px}   .mob_mr-60  {margin-right:60px}   .mob_mb-60    {margin-bottom:60px}   .mob_ml-60   {margin-left:60px}  .mob_m-60   {margin:60px} 
    .mob_mt-70  {margin-top:70px}   .mob_mr-70  {margin-right:70px}   .mob_mb-70    {margin-bottom:70px}   .mob_ml-70   {margin-left:70px}  .mob_m-70   {margin:70px} 
    /* Paddings */
    .mob_pdd-sec{padding:120px 0}     .mob_p-3015   {padding:30px 15px}         .mob_ptb-80z{padding:80px 0}             .mob_ptb-30z {padding:30px 0} .mob_ptb-z30 {padding:0 30px}        .mob_ptb-20z {padding:20px 0}
    .mob_ptb-25z {padding:25px 0}      .mob_p-1020   {padding:10px 20px}         .mob_p-5015 {padding:50px 15px}         .mob_ptb-40z {padding:40px 0}        .mob_ptb-50z {padding:50px 0}
    .mob_prl-15 {padding:0 15px}      .mob_ptb-100  {padding:100px 0}           .mob_p-2015   {padding:20px 15px}       .mob_p-4020 {padding:40px 20px}     .mob_ptb-10z{padding:10px 0}
    .mob_pt-auto{padding-top:auto}    .mob_pr-auto  {padding-right:auto}        .mob_pb-auto{padding-bottom:auto}       .mob_pl-auto{padding-left:auto}     .mob_p-auto {padding:auto} 
    .mob_pt-0   {padding-top:0px}     .mob_pr-0     {padding-right:0px}         .mob_pb-0   {padding-bottom:0px}        .mob_pl-0   {padding-left:0px}      .mob_p-0    {padding:0px} 
    .mob_pt-5   {padding-top:5px}     .mob_pr-5     {padding-right:5px}         .mob_pb-5   {padding-bottom:5px}        .mob_pl-5   {padding-left:5px}      .mob_p-5    {padding:5px} 
    .mob_pt-10  {padding-top:10px}    .mob_pr-10    {padding-right:10px}        .mob_pb-10  {padding-bottom:10px}       .mob_pl-10  {padding-left:10px}     .mob_p-10   {padding:10px} 
    .mob_pt-15  {padding-top:15px}    .mob_pr-15    {padding-right:15px}        .mob_pb-15  {padding-bottom:15px}       .mob_pl-15  {padding-left:15px}     .mob_p-15   {padding:15px} 
    .mob_pt-20  {padding-top:20px}    .mob_pr-20    {padding-right:20px}        .mob_pb-20  {padding-bottom:20px}       .mob_pl-20  {padding-left:20px}     .mob_p-20   {padding:20px} 
    .mob_pt-25  {padding-top:25px}    .mob_pr-25    {padding-right:25px}        .mob_pb-25  {padding-bottom:25px}       .mob_pl-25  {padding-left:25px}     .mob_p-25   {padding:25px} 
    .mob_pt-30  {padding-top:30px}    .mob_pr-30    {padding-right:30px}        .mob_pb-30  {padding-bottom:30px}       .mob_pl-30  {padding-left:30px}     .mob_p-30   {padding:30px} 
    .mob_pt-40  {padding-top:40px}    .mob_pr-40    {padding-right:40px}        .mob_pb-40  {padding-bottom:40px}       .mob_pl-40  {padding-left:40px}     .mob_p-40   {padding:40px} 
    .mob_pt-50  {padding-top:50px}    .mob_pr-50    {padding-right:50px}        .mob_pb-50  {padding-bottom:50px}       .mob_pl-50  {padding-left:50px}     .mob_p-50   {padding:50px} 
    .mob_pt-70  {padding-top:70px}    .mob_pr-70    {padding-right:70px}        .mob_pb-70  {padding-bottom:70px}       .mob_pl-70  {padding-left:70px}     .mob_p-70   {padding:70px} 
    .mob_pt-80  {padding-top:80px}    .mob_pr-80    {padding-right:80px}        .mob_pb-80  {padding-bottom:80px}       .mob_pl-80  {padding-left:80px}     .mob_p-80   {padding:80px} 
    .mob_pt-90  {padding-top:90px}    .mob_pr-90    {padding-right:90px}        .mob_pb-90  {padding-bottom:90px}       .mob_pl-90  {padding-left:90px}     .mob_p-90   {padding:90px} 
    .mob_pt-100 {padding-top:100px}   .mob_pr-100   {padding-right:100px}       .mob_pb-100 {padding-bottom:100px}      .mob_pl-100 {padding-left:100px}    .mob_p-100  {padding:100px} 
    .mob_pt-120 {padding-top:120px}   .mob_pr-120   {padding-right:120px}       .mob_pb-120 {padding-bottom:120px}      .mob_pl-120 {padding-left:120px}    .mob_p-120  {padding:120px} 
    /* Tops + Lefts + Rights + Bottoms */
    .mob_t-mn20{top:-20}    .mob_l-mn20{left:-20}   .mob_b-mn20{bottom:-20}     .mob_r-mn20{right:-20}
    .mob_t-mn15{top:-15}    .mob_l-mn15{left:-15}   .mob_b-mn15{bottom:-15}     .mob_r-mn15{right:-15}
    .mob_t-mn10{top:-10}    .mob_l-mn10{left:-10}   .mob_b-mn10{bottom:-10}     .mob_r-mn10{right:-10}
    .mob_t-zero{top:0}      .mob_l-zero{left:0}     .mob_b-zero{bottom:0}       .mob_r-zero{right:0}
    .mob_t-10  {top:10px}   .mob_l-10  {left:10px}  .mob_b-10  {bottom:10px}    .mob_r-10  {right:10px}
    .mob_t-full{top:100%}   .mob_l-full{left:100%}  .mob_b-full{bottom:100%}    .mob_r-full{right:100%}
    .mob_t-sven{top:70%}    .mob_l-sven{left:70%}   .mob_b-sven{bottom:70%}     .mob_r-sven{right:70%}
    .mob_t-half{top:50%}    .mob_l-half{left:50%}   .mob_b-half{bottom:50%}     .mob_r-half{right:50%}
    .mob_t-twnt{top:20%}    .mob_l-twnt{left:20%}   .mob_b-twnt{bottom:20%}     .mob_r-twnt{right:20%}
    .mob_t-ten{top:10%}     .mob_l-ten{left:10%}    .mob_b-ten{bottom:10%}      .mob_r-ten{right:10%}
    .mob_t-400 {top:400px}  .mob_l-400 {left:400px} .mob_b-400 {bottom:400px}   .mob_r-400 {right:400px}
    .mob_t-140 {top:140px}  .mob_l-140 {left:140px} .mob_b-140 {bottom:140px}   .mob_r-140 {right:140px}
    .mob_t-100 {top:100px}  .mob_l-100 {left:100px} .mob_b-100 {bottom:100px}   .mob_r-100 {right:100px}
    .mob_t-75  {top:75px}   .mob_l-75  {left:75px}  .mob_b-75  {bottom:75px}    .mob_r-75  {right:75px}
    .mob_t-50  {top:50px}   .mob_l-50  {left:50px}  .mob_b-50  {bottom:50px}    .mob_r-50  {right:50px}
    .mob_t-40  {top:40px}   .mob_l-40  {left:40px}  .mob_b-40  {bottom:40px}    .mob_r-40  {right:40px}
    .mob_t-mn40  {top:-40px}.mob_b-mn40  {bottom:-40px} .mob_l-mn40{left:-40px} .mob_r-mn40{right: -40px}
    .mob_t-30  {top:30px}   .mob_l-30  {left:30px}  .mob_b-30  {bottom:30px}   .mob_r-30  {right:30px}
    .mob_t-20  {top:20px}   .mob_l-20  {left:20px}  .mob_b-20  {bottom:20px}   .mob_r-20  {right:20px}
    .mob_t-15  {top:15px}   .mob_l-15  {left:15px}  .mob_b-15  {bottom:15px}   .mob_r-15  {right:15px}
    .mob_t-10  {top:10px}   .mob_l-10  {left:10px}  .mob_b-10  {bottom:10px}   .mob_r-10  {right:10px}
    /* Text-align */
    .mob_txt-c{text-align:center}   .mob_txt-r{text-align:right}    .mob_txt-l{text-align:left} .mob_txt-start {text-align: start}
    /* Texts */
    .mob_upper{text-transform:uppercase}    .mob_lower{text-transform:lowercase}    .mob_cpliz{text-transform:capitalize}
    .mob_ltr-spc-1-5{letter-spacing:1.mob_5px} .mob_ltr-spc-1-7{letter-spacing:1.mob_7px} .mob_ltr-spc-2{letter-spacing:2px}
    /* Borders */
    .mob_rad-6{border-radius:6px}          .mob_rad-10{border-radius:10px}         .mob_rad-half{border-radius:50%}     .mob_brdr-zero{border:0}   
    .mob_brdrt-2ligh{border-top:2px solid #eee} .mob_brdrb-2ligh{border-bottom:2px solid #eee}      
    .mob_brdrt-2purple{border-top:2px solid purple} .mob_brdrb-2purple{border-bottom:2px solid purple}      
    .mob_brdr-ligh{border:1px solid #eee}       .mob_brdr-2ligh{border:2px solid #eee}      .mob_brdr-3ligh{border:3px solid #eee}
    .mob_brdr-main{border:1px solid #7b5244}    .mob_brdr-2main{border:2px solid #7b5244}   .mob_brdr-3main{border:3px solid #7b5244}
    .mob_brdr-rg-main{border-right:1px solid #7b5244}    .mob_brdr-lf-main{border-left:1px solid #7b5244}   .mob_brdr-bt-main{border-bottom:1px solid #7b5244}
    .mob_brdr-gray{border:1px solid gray}       .mob_brdr-2gray{border:2px solid gray}      .mob_brdr-3gray{border:3px solid gray}
    .mob_brdr-blck{border:1px solid black}      .mob_brdr-2blck{border:2px solid black}     .mob_brdr-3blck{border:3px solid black}
    .mob_brdr-red{border:1px solid red}      .mob_brdr-2red{border:2px solid red}     .mob_brdr-3red{border:3px solid red}
    .mob_brdr-purple{border:1px solid purple}      .mob_brdr-2purple{border:2px solid purple}     .mob_brdr-3purple{border:3px solid purple}
    /* Button */
    .mob_btn-shape{min-width:160px;width:160px;padding:10px 20px;border:0;cursor:pointer;font-size:15px;border-radius:6px}
    .mob_hover-opacity{transition:opacity 0.mob_4s}.mob_hover-opacity:hover{opacity:0.mob_8}
    /* transitions */
    .mob_trnsit-04{transition:0.mob_4s}     .mob_trnsdly-2{transition-delay:0.mob_2s}
    .mob_trnsit-05{transition:0.mob_5s}     .mob_trnsdly-3{transition-delay:0.mob_3s}
    .mob_trnsit-1{transition:1s}        .mob_trnsdly-4{transition-delay:0.mob_4s}
    .mob_trnsit-03{transition:0.mob_3s}     .mob_trnsdly-5{transition-delay:0.mob_5s}
    /* LineHeight */
    .mob_linhig-32{line-height:32px}    .mob_linhig-40{line-height:40px}    .mob_linhig-48{line-height:48px}    .mob_linhig-55{line-height:55px}
    .mob_linhig-1-5{line-height:1.mob_5}    .mob_linhig-1-6{line-height:1.mob_6}    .mob_linhig-1-7{line-height:1.mob_7}    .mob_linhig-1-8{line-height:1.mob_8}    .mob_linhig-1-9{line-height:1.mob_9}
    .mob_linhig-2-0{line-height:2}
    .mob_linhig-25{line-height:25px}
    .mob_linhig-20{line-height:20px}
    /* Effects */
    .mob_visible{visibility:visible;opacity:1}.mob_notvisible{visibility:hidden;opacity:0;}
    .mob_pointr {cursor:pointer} .mob_outlin-non {outline: none}
    .mob_w-fit{width:-moz-fit-content;width:fit-content} .mob_h-fit{height:fit-content} 
    .mob_srch-icon {right:10%;bottom:75%}
    .mob_hero-cnter{top:50%;left:50%;transform:translate(-50%,-50%)}
    .mob_ltr-effect{position:relative}.mob_ltr-effect::after{position:absolute;content:"";width:0%;top:0;left:0;bottom:0;right:0;background-color:#333;transition:0.mob_5s;z-index:-1}.mob_ltr-effect:hover::after{width:100%;}
    .mob_ttb-effect{position:relative}.mob_ttb-effect::after{position:absolute;content:"";height:0%;top:0;left:0;bottom:0;right:0;background-color:#333;transition:0.mob_5s;z-index:-1}.mob_ttb-effect:hover::after{height:100%;}
    /* Flex System */
    .mob_ds-flex{display:flex} .mob_flxwrap{flex-wrap: wrap}
    .mob_flxbtween{display:flex;justify-content:space-between}.mob_flxbtween-alcntr{display:flex;justify-content:space-between;align-items:center} .mob_flxone{flex:1}
    .mob_flxcenter{display:flex;justify-content:center}.mob_flx-2-cntr{display:flex;justify-content:center;align-items:center}
    .mob_flxeven{display:flex;justify-content:space-evenly}
    .mob_flxgrw1{flex-grow:1} .mob_flxgrw2{flex-grow:2} .mob_flxgrw3{flex-grow:3}
    .mob_flxaround{display:flex;justify-content: space-around} .mob_flx-colm{flex-direction: column}

    /* Horizental List Mobile */
    .mob_horizontal_list {padding: 0;list-style-type: none} .mob_horizontal_list li {float: left} .mob_horizontal_list li:before {content: none} .mob_horizontal_list li {padding-left: 0; text-indent: 0}
    
    

    
}
